$white: #ffffff;
$black: #000000;

$red: linear-gradient(88.94deg, #D00000 0%, #FF3434 99.08%);
$red-orange: linear-gradient(63.84deg, #D00000 8.14%, #FFB200 88.1%);
$yellow: linear-gradient(70.31deg, #FFB200 16.15%, #FFE404 84.47%);
$green: linear-gradient(177.7deg, #044B2C 2.01%, #0D8553 98.3%);