@import "./colors";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: UniNeue, sans-serif;
  font-size: 18px;
  line-height: 120%;
  color: $black;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  padding: 0 30px;
  box-sizing: border-box;
  overflow: hidden;

  @media screen and (max-width: 769px) {
    padding: 0 15px;
  }
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.cont {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.cl-blue {
  color: rgba(49, 118, 252, 1);
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1001px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 769px) {
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 350px) {
}