.main {
  overflow: hidden;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(100vh - 235px);
}

.main .cont {
  height: 100%;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: 100%;
}

.main__info {
  max-width: 50%;
  width: 100%;
}

.main-info {
  position: relative;
  z-index: 2;
}

.main-info__title {
  position: relative;
}

.main-info__title:before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: calc(100% + 50px);
  background: -o-linear-gradient(19.69deg, #FFB200 16.15%, #FFE404 84.47%);
  background: linear-gradient(70.31deg, #FFB200 16.15%, #FFE404 84.47%);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.main-info__subtitle {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
}

.main-info__subtitle:before {
  content: "";
  width: 100vw;
  height: calc(100% - 10px);
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: -o-linear-gradient(343.66deg, #044B2C 26.62%, #0D8553 60.54%);
  background: linear-gradient(106.34deg, #044B2C 26.62%, #0D8553 60.54%);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.main-info__button {
  max-width: 390px;
  height: 75px;
  margin-top: 20px;
}

.main__wheel {
  max-width: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wheel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  max-height: 800px;
  height: 100%;
  width: 100%;
}

.wheel__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
}

.wheel__bg svg,
.wheel__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wheel__roll {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  -o-object-fit: contain;
     object-fit: contain;
}

.wheel__point {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
}

.wheel__arrow {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 17%;
}

.wheel__coin {
  position: absolute;
  z-index: 1;
  max-width: 50%;
  width: 100%;
}

.wheel__coin--1 {
  left: -17%;
  top: -1%;
}

.wheel__coin--2 {
  left: -17%;
  bottom: -1%;
}

.wheel__coin--3 {
  right: -17%;
  bottom: -1%;
}

.wheel__coin--4 {
  right: -17%;
  top: -1%;
}

.main-title {
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-title__bgcolor {
  position: relative;
}

.main-title__bgcolor span {
  position: relative;
  z-index: 4;
}

.main-title__bgcolor:before {
  content: "";
  width: calc(100% + 5px);
  height: calc(100% - 10px);
  z-index: 3;
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50% + 4px);
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: -o-linear-gradient(32.88deg, #D00000 1.3%, #FFB200 103.28%);
  background: linear-gradient(57.12deg, #D00000 1.3%, #FFB200 103.28%);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.main-subtitle {
  font-weight: 900;
  font-size: 45px;
  line-height: 120%;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  position: relative;
  z-index: 2;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-subtitle__img {
  width: auto;
  height: 123px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1440px) {
  .main-info__subtitle {
    margin-top: 40px;
  }

  .main-info__button {
    max-width: 312px;
    height: 60px;
  }

  .wheel__roll {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
  }

  .main-title {
    font-size: 48px;
  }

  .main-subtitle {
    font-size: 36px;
  }

  .main-subtitle__img {
    height: 98px;
  }
}

@media screen and (max-width: 1199px) {
  .main-info__button {
    max-width: 275px;
    height: 52.5px;
  }

  .main-title {
    font-size: 38px;
  }

  .main-subtitle {
    font-size: 30px;
  }

  .main-subtitle__img {
    height: 86px;
  }
}

@media screen and (max-width: 992px) {
  .main {
    height: auto;
    padding: 15px;
  }

  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__info {
    max-width: 100%;
  }

  .main-info__title:before {
    display: none;
  }

  .main__wheel {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .main-title {
    width: 100%;
    text-align: center;
    background: -o-linear-gradient(19.69deg, #FFB200 16.15%, #FFE404 84.47%);
    background: linear-gradient(70.31deg, #FFB200 16.15%, #FFE404 84.47%);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
    font-size: 28px;
    min-height: 100px;
  }

  .main-title__bgcolor:before {
    border-radius: 5px;
    height: 100%;
  }

  .main-subtitle {
    font-size: 18px;
    padding-right: 10px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .main-subtitle__img {
    height: 75px;
  }
}

@media screen and (max-width: 769px) {
  .main {
    height: auto;
  }

  .wheel__roll {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .main-info__subtitle {
    margin-top: 15px;
  }

  .main__wheel {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .main-info__button {
    max-width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .wheel__roll {
    width: calc(100% - 45px);
    height: calc(100% - 45px);
  }
}