.header {
  padding: 0 30px;
  background: -o-linear-gradient(272.3deg, #044B2C 2.01%, #0D8553 98.3%);
  background: linear-gradient(177.7deg, #044B2C 2.01%, #0D8553 98.3%);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  height: 115px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.auth:hover {
  color: #d00000;
}

.auth:hover .auth__icon svg path:first-child {
  fill: #d00000;
}

.auth:hover .auth__icon svg path:last-child {
  stroke: #d00000;
}

.auth__icon,
.auth__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth__icon svg {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.auth__icon svg path:first-child {
  fill: #ffffff;
}

.auth__icon svg path:last-child {
  stroke: #ffffff;
}

@media screen and (max-width: 1440px) {
  .auth {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 5px 15px;
  }

  .header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }

  .header__logo {
    position: unset;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    height: 62px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .header__logo img {
    height: 100%;
    width: auto;
  }

  .auth__text {
    display: none;
  }
}