@charset "UTF-8";

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(30, 30, 30, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-info .modal__wrapper {
  padding-left: 115px;
  padding-right: 115px;
  max-width: 1345px;
  background: #05643B;
}

.modal-state .modal__wrapper {
  padding-left: 115px;
  padding-right: 115px;
  max-width: 1345px;
  background: #05643B;
}

.modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__wrapper {
  background: -o-linear-gradient(344.61deg, #044B2C 5.83%, #0D8553 97.64%);
  background: linear-gradient(105.39deg, #044B2C 5.83%, #0D8553 97.64%);
  border-radius: 20px;
  max-width: 1076px;
  width: 100%;
  padding-top: 85px;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  min-height: 600px;
  max-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__content {
  overflow: auto;
}

.modal__closer {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}

.modal__closer:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__closer:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  left: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 232px;
  width: 100%;
  height: auto;
}

.modal__image img,
.modal__image svg {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  background: -o-linear-gradient(26.16deg, #D00000 8.14%, #FFB200 88.1%);
  background: linear-gradient(63.84deg, #D00000 8.14%, #FFB200 88.1%);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  margin-top: 25px;
  max-width: 430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal__form {
  margin-top: 30px;
  max-width: 390px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 24px;
}

.modal__link span {
  text-decoration: underline;
}

.modal__items {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 40px;
}

.modal__item {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
  border-radius: 10px;
  position: relative;
}

.modal__item span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background: #05643b;
  border-radius: 10px;
  padding: 13px 20px;
}

.modal__item:before {
  content: "";
  display: block;
  background: -o-linear-gradient(26.16deg, #D00000 8.14%, #FFB200 88.1%);
  background: linear-gradient(63.84deg, #D00000 8.14%, #FFB200 88.1%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}

.modal__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__field {
  margin-bottom: 20px;
}

.modal-form__input {
  width: 100%;
  height: 75px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  padding: 22px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-form__input:focus {
  outline: none;
}

.modal-form__input::-webkit-input-placeholder {
  font-family: UniNeue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.25);
}

.modal-form__input::-moz-placeholder {
  font-family: UniNeue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.25);
}

.modal-form__input:-ms-input-placeholder {
  font-family: UniNeue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.25);
}

.modal-form__input::-ms-input-placeholder {
  font-family: UniNeue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.25);
}

.modal-form__input::placeholder {
  font-family: UniNeue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.25);
}

.modal-form__button {
  width: 100%;
  height: 75px;
  margin-bottom: 10px;
}

.modal-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.modal-form__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.modal-form__checkbox:checked ~ .modal-form__icon:before {
  opacity: 1;
}

.modal-form__icon {
  min-width: 10px;
  width: 10px;
  height: 10px;
  display: block;
  margin-right: 8px;
  border: 1px solid #ffffff;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.modal-form__icon:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15px;
  height: 17px;
  color: #ffffff;
  content: "✓";
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.modal-form__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.modal-form__text a {
  text-decoration: underline;
  color: rgb(49, 118, 252);
}

.modal-state__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
}

.modal-state__title {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.modal-state__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.modal-state__sum--cross {
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration-line: line-through;
  color: #ffffff;
}

.modal-state__sum--yellow {
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-linear-gradient(19.69deg, #FFB200 16.15%, #FFE404 84.47%);
  background: linear-gradient(70.31deg, #FFB200 16.15%, #FFE404 84.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.modal-state__subtitle {
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-top: 30px;
}

.modal-state__bottom {
  max-width: 390px;
  width: 100%;
  margin-top: 30px;
}

.modal-state__button {
  height: 75px;
}

.modal-state__notice {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}

.modal-state__info {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-state__img {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.modal-state__img--abs {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.modal-state__img--static {
  position: relative;
  z-index: 2;
}

.modal-state__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.state-sales {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  margin-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.state-sales:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(26.16deg, #D00000 8.14%, #FFB200 88.1%);
  background: linear-gradient(63.84deg, #D00000 8.14%, #FFB200 88.1%);
  border-radius: 10px;
  z-index: 1;
}

.state-sales__items {
  border-radius: 10px;
  padding: 11px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #05643b;
  position: relative;
  z-index: 2;
}

.state-sales__item {
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.state-sales__item--white {
  color: #FFFFFF;
}

.state-sales__item--yellow {
  background: -o-linear-gradient(19.69deg, #FFB200 16.15%, #FFE404 84.47%);
  background: linear-gradient(70.31deg, #FFB200 16.15%, #FFE404 84.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media screen and (max-width: 1440px) {
  .modal-state .modal__wrapper {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (max-width: 1199px) {
  .modal-state .modal__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 992px) {
  .modal {
    padding: 15px;
  }

  .modal-info .modal__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal-state .modal__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal__wrapper {
    padding-top: 64px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 24px;
    min-height: 265px;
  }

  .modal__closer {
    width: 25px;
    height: 25px;
    top: 13px;
    right: 20px;
  }

  .modal__image {
    max-width: 81px;
  }

  .modal__title {
    font-size: 20px;
    padding: 15px 24px;
  }

  .modal__subtitle {
    margin-top: 15px;
    font-size: 18px;
  }

  .modal__form {
    margin-top: 20px;
  }

  .modal__link {
    font-size: 14px;
    margin-top: 0;
  }

  .modal__items {
    margin-top: 20px;
  }

  .modal__item {
    font-size: 12px;
  }

  .modal-form__input {
    height: 42px;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 14px;
  }

  .modal-form__input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .modal-form__input::-moz-placeholder {
    font-size: 14px;
  }

  .modal-form__input:-ms-input-placeholder {
    font-size: 14px;
  }

  .modal-form__input::-ms-input-placeholder {
    font-size: 14px;
  }

  .modal-form__input::placeholder {
    font-size: 14px;
  }

  .modal-form__button {
    height: 45px;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .modal-state__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }

  .modal-state__title {
    margin: 0 auto;
    text-align: center;
  }

  .modal-state__sum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 5px;
  }

  .modal-state__sum--cross {
    font-size: 28px;
  }

  .modal-state__sum--yellow {
    font-size: 35px;
  }

  .modal-state__subtitle {
    font-size: 18px;
    margin-top: 4px;
    text-align: center;
  }

  .modal-state__bottom {
    margin-top: 15px;
  }

  .modal-state__button {
    height: 45px;
    font-size: 16px;
  }

  .modal-state__info {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .modal-state__img {
    width: 100%;
    margin-top: 30px;
  }

  .modal-state__img img {
    max-height: 350px;
  }

  .state-sales {
    margin-top: 15px;
    width: 100%;
  }

  .state-sales__items {
    padding: 10px 30px;
    width: 100%;
  }

  .state-sales__item {
    font-size: 18px;
    -webkit-column-gap: 13px;
       -moz-column-gap: 13px;
            column-gap: 13px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .state-sales__item--white {
    width: 85px;
  }

  .state-sales__item--yellow {
    width: 76px;
  }
}

@media screen and (max-width: 769px) {
  .modal-state .modal__wrapper {
    padding-bottom: 0;
  }

  .modal-state__sales {
    width: 100%;
  }

  .modal-state__bottom {
    max-width: 100%;
  }

  .modal-state__notice {
    font-size: 10px;
    line-height: 14px;
  }

  .modal-state__img {
    margin-top: 0;
  }

  .modal-state__img img {
    max-height: 202px;
  }
}

@media screen and (max-width: 768px) {
  .modal__wrapper {
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 24px;
  }

  .modal__item {
    padding: 1.5px;
  }

  .modal__item span {
    padding: 7px;
  }

  .modal__item:not(:last-child) {
    margin-bottom: 8px;
  }
}